doctype 5
html
	head
		title Simple Backbone
		link(rel="stylesheet", href="/css/app/styles.css")
		script(src="/js/require.js", data-main="/js/app/init.js")
	body
		header#siteheader
			h1 Simple Backbone

		section#main



		include templates