doctype 5
html
	head
		title Simple Backbone
		link(rel="stylesheet", href="/css/app/styles.css")
		// RequireJS and init script
		script(src="/js/require.js", data-main="/js/app/init.js")
	body
		header#siteheader
			h1 Simple Backbone

		// a Marionette region
		section#main

		// templates go here
		include templates