doctype 5
html
	head
		title Nodebook
		link(rel="stylesheet", href="css/source-sans-pro/source-sans-pro.css")
		link(rel="stylesheet", href="css/app/styles.css")
		script(src="js/require.js", data-main="js/app/init.js")
	body
		h1 Hello world from Jade!